<div data-role="header"> 
  <h1>저 여기서 내려요</h1>
<div data-role="navbar">
  <ul>
    <li><%= link_to "Home", "/" %></a></li>
    <li><%= link_to "Register","/getoff_infos/new" %> </a></li>
    <li><%= link_to "Deal", "/getoff_infos/deal" %> </a></li>
  </ul>
</div>
</div>
  
